.article-container {
  display: flex;
  gap: $space-sm;
  padding: $space-sm;
  max-width: $screen-xl;
  margin: auto;

  img {
    align-self: flex-start;
    object-fit: contain;
    width: 50%;
    max-width: 100%;
    flex: 1;
  }

  .article-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $space-sm;
  }
  .highlight {
    background: $super-blue;
    width: fit-content;
    padding: $space-2xs $space-xs;
    border-radius: $space-2xs;
  }

  a.read-more {
    max-width: fit-content;
    width: auto;
    text-decoration: none;
    background: $delft-blue;
    color: $mint-cream;
    padding: $space-xs $space-md;
    border-radius: $space-2xs;
    font-weight: $font-weight-xl;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: $naples-yellow;
      color: $delft-blue;
    }
  }

  @include lg {
    flex-direction: column;

    img {
      margin: 0 auto;
      width: auto;
    }

    h1 {
      font-size: $font-size-lg;
    }
  }

  @include md {
    h1 {
      font-size: $font-size-md;
    }
  }

  @include sm {
    flex-direction: column;
    img {
      margin: 0 auto;
      width: 100%;
    }
  }
}
